<%- include("./components/head") %>

<div>
    <table>
        <% if(intervention.length) { %>
        <tr>
            <th># |</th>
            <th>Room |</th>
            <th>Date intervention |</th>
            <th>Hour intervention |</th>
            <th>Hour entry |</th>
            <th>Hour exit</th>
        </tr>
        <% for (let i = 0; i < intervention.length; i++) { %>
        <tr>
            <td><%= (i+1) %></td>
            <td><%= intervention[i].room %></td>
            <td><%= intervention[i].dateInterv %></td>
            <td><%= intervention[i].timeInterv %></td>
            <td><%= intervention[i].timeEntry %></td>
            <td><%= intervention[i].timeExit %></td>
        </tr>
        <% }} else { %>
        <p>Aucune interventions !</p>
        <% } %>
    </table>
    <hr />
    <h3>Intervention :</h3>
    <form action="/secure/intervention" method="post">
        <div>
            <label for="room">Room :</label>
            <input type="text" name="room" id="room" placeholder="Enter the room !">
        </div>
        <div>
            <label for="code">Code :</label>
            <input type="text" name="code" id="code" placeholder="Enter your code !">
        </div>
        <button type="submit">New intervention !</button>
    </form>
</div>
